<div class="container">
  <h1>Trips</h1>

  <h4><%= link_to "Create a New Trip", new_trip_path %></h4>

  <hr>

  <% @trips.each do |trip| %>
      <h3> <%= link_to trip.location, trip_path(trip) %> </h3>
      <p> From <%= trip.start_date %> to <%= trip.end_date %> </p>
      <hr>
  <% end %>

</div>

