<!-- TODO: avoid inline styling, apply bootstrap classes like p-3 instead - https://getbootstrap.com/docs/4.5/layout/utilities-for-layout/#margin-and-padding -->
<div class="container" style="padding: 60px;">
  <%= render 'form', trip: @trip %>
</div>
