<h4>Hello <%= @user.name %>,</h4>

<p>
  Welcome to Traveltogether and enjoy your trip! <%= link_to  "Get back on to website.", root_url %> <br><br>
  please don't reply to this email.
</p>

<p>
   <h4>Regards,<br>
   Traveltogether team
</p>
