<div class="landing-banner" style="background-image: linear-gradient(black, black), url(<%= image_path('banner3.jpg') %>)">
    <div class="container">
        <div class="landing-page-text">
        <h1>Plan your trip with Friends</h1>
       <!--  <p>Yuva farted around the world.</p> -->
        </div>
        <div class="landing-buttons d-flex">
          <div class="btn">
            <%= link_to "LOGIN", "users/sign_in", class: "btn-main-login" %>
          </div>
          <div class="btn">
            <%= link_to "SIGN UP", "users/sign_up", class: "btn-main-signup" %>
          </div>
        </div>

    </div>
</div>



