<div class="banner" style="background-image: url(<%= image_path('banner3.jpg') %>)">
  <div class="banner-gradient">

    </div>
  <div class="container">
    <h1>Travel Together</h1>

  </div>
</div>
