<div class="footer">
  <div class="footer-links-left d-flex">
    <div class="footer-items">
      <a href="#"><i class="fas fa-home"></i></a>
    </div>
    <div class="footer-items">
      <a href="#"><i class="fas fa-search"></i></a>
    </div>
    <div class="footer-btn-create">
      <%= link_to "+", "#", class: "btn-main" %>
    </div>
      <div class="footer-items">
        <a href="#"><i class="far fa-bell"></i></a>
      </div>
    <div class="footer-items">
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    </div>
  </div>
</div>
