<h1>Welcome to our UIKIT</h1>

<hr>

<h3>Card Trip Component</h3>

<div class="container">
  <div class="card-product">
    <%= image_tag ("cardtrip.jpg") %>
    <div class="card-product-infos">
      <h2>Hanoi Trip</h2>
      <p>SAT, NOV 21 - THU, DEC 10, 2020</p>
    </div>
  </div>
</div>

<hr>
