<h1>Test UIKIT</h1>

<div class = "container-tt">

  <h1>TravelTogether</h1>

  <p> primary button </p>
  <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
  <br>
  <br>

  <p> status tags </p>
  <p class = "pending-tag"> PENDING </p>
  <p class = "approved-tag"> APPROVED </p>
  <p class = "booked-tag"> BOOKED </p>

  <div class = "card-bottom-strip">
    <div class = "right-16" >
      <p class = "pending-tag"> PENDING </p>
    </div>

    <div>
      <p class= "mb-0"> 1 </p>
    </div>

    <div class = "left-16">
      <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
    </div>
  </div>




</div>

