

//bottom strip
.bottom-strip {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(50, 50, 50, .2);
}

.right-16 {
  position: relative;
  left: 16px;
}

.left-16 {
  position: relative;
  right: 16px;
}

.status-vote-grp {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  width: 15px;
  height: 15px;
}

//side card
.ellipsis {
  position: relative;
  left: 50px;
  top: 0px;
  width: 15px;
  height: 15px;
}

.side-card {
  width: 72px;
  height: 133px;
  // justify-content: center;
  border-left: 1px solid rgba(50, 50, 50, .2);
}

.font-price{
  font-size: 1.4em;
  font-weight: bold;
}

//common card structure
.common-detail-card{
  height: 133px;
  width: 270px;
  // border: 1px solid rgba(50, 50, 50, .2);
}

.action-card {
  overflow: hidden;
  height: 173px;
  background: white;
  border: 1px solid rgba(50, 50, 50, .2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

//flight details
.flight-top-grp {
  padding-top: 5px;
  display: flex;
}

.time-date-loc-grp {
  width: 100px;
}

.center{
  text-align: center;
  margin: 0px;
}

.line {
  border-top: 2px solid rgba(50, 50, 50, .2);
}

.down {
  position: relative;
  top: 18px;
}

.font-big {
  font-size: 1.2em;
  font-weight: bold;
}

.font-small-bold {
  font-size: 0.8em;
  font-weight: bold;
}

.font-smaller {
  font-size: 0.7em;
}

//accommodation/activity detail
.card-image {
  width: 122px;
  height: 103px;
  border: 0.5px solid rgba(50, 50, 50, .2);
}

.font-normal {
  font-size: 0.8em;
}

.font-smallest {
  font-size: 0.6em;
}

.bold {
  font-weight: bold;
  line-height: 1.0;
}

.font-small-bold-no-space {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.0;
}
