// action-card

.action-card {
  height: 173px;
  width: 346px;
  background: white;
  // box-shadow: 0 0 1px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


//bottom strip

.action-card-bstrip {
  overflow: hidden;
  height: 40px;
  width: 346px;
  background: white;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  justify-content: space-between;
  padding-left: 3px;
  margin-bottom: 2px;
}

.heart {
  width: 15px;
  height: 15px;
  margin-top: 3.5px;
}

// price-card

.action-card-pricecard {
  height: 133px;
  width: 80px;
  background: white;
  border-bottom: .2px solid rgba(50, 50, 50, .2);
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 0px 4px 0px 0px;
}

.price-ellipsis {
  width: 100%;
}

.ellipsis {
  height: 15px;
  margin: 5px;
}

.pricecard-price {
  text-align: center;
  margin-top: 5px;
}

.pricecard-price .price {
  font-weight: bold;
}


// main-card-flight

.action-card-main-flight {
  overflow: hidden;
  height: 133px;
  width: 266px;
  background: white;
  border-right: .2px solid rgba(50, 50, 50, .2);
  border-bottom: .2px solid rgba(50, 50, 50, .2);
  border-radius: 4px 0px 0px 0px;
  justify-content: space-between;
  text-align: center;
  align-items: top;
  padding: 5px;
}


.action-card-main-flight .time {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.action-card-main-flight .date {
  font-size: 0.8em;
  margin-bottom: 0.3rem;
}

.action-card-main-flight .airport {
  font-size: 0.8em;
  margin-bottom: 0.3rem;
}

.maincard-dep-flight {
  padding-top: 5px;
}

.maincard-arr-flight {
  padding-top: 5px;
}


.maincard-flight-duration {
  width: 100%;
  padding-top: 23px;
  padding-right: 10px;
  padding-left: 10px;
}

.maincard-flight-duration p {
  margin-bottom: 0.3rem;
}

.action-card-main-flight .duration-time {
  padding-top: 10px;
  font-size: 0.6em;
  opacity: .8;
  border-bottom: .2px solid rgba(50, 50, 50, .2);
}

.action-card-main-flight-bottom {
  text-align: left;
  padding-top: 10px;
  padding-left: 3px;
}


.action-card-main-flight-bottom .airline {
  font-size: 0.6em;
  font-weight: 900;
  opacity: .8;
  margin-bottom: 0rem;
}

.action-card-main-flight-bottom .flight-number {
  font-size: 0.6em;
  opacity: .8;
  margin-bottom: 0rem;
}


// main-card-accomodation

.action-card-main-accomodation {
  overflow: hidden;
  height: 133px;
  width: 266px;
  background: white;
  border-right: .2px solid rgba(50, 50, 50, .2);
  border-bottom: .2px solid rgba(50, 50, 50, .2);
  border-radius: 4px 0px 0px 0px;
}

.action-card-main-accomodation-image img {
  height: 100%;
  width: 125px;
  object-fit: cover;
  border-radius: 4px 0px 0px 0px;
}

.action-card-main-accomodation .name {
  font-size: .8em;
  font-weight: 800;
  margin-bottom: 0rem;
  padding-left: 10px;
  padding-top: 5px;
}

.action-card-main-accomodation .address {
  font-size: 0.6em;
  margin-bottom: 0rem;
  padding-left: 10px;
}


.action-card-main-accomodation .check-in p {
  font-size: 0.6em;
  margin-bottom: 0rem;
  padding-left: 10px;
  padding-top: 10px;
}

.action-card-main-accomodation .dates p {
  font-size: 0.6em;
  margin-bottom: 0rem;
  padding-left: 20px;
  padding-top: 10px;
}


// main card activities

.action-card-main-activity {
  overflow: hidden;
  height: 133px;
  width: 266px;
  background: white;
  border-right: .2px solid rgba(50, 50, 50, .2);
  border-bottom: .2px solid rgba(50, 50, 50, .2);
  border-radius: 4px 0px 0px 0px;
}

.action-card-main-activity-image img {
  height: 100%;
  width: 125px;
  object-fit: cover;
  border-radius: 4px 0px 0px 0px;
}

.action-card-main-activity .name {
  font-size: 0.8em;
  font-weight: 800;
  margin-bottom: 0rem;
  padding-left: 10px;
  padding-top: 5px;
}

.action-card-main-activity .date {
  font-size: 0.8em;
  margin-bottom: 0rem;
  padding-left: 10px;
}



.ellipsis-trip-icon-action-card {
 position: relative;
 top: 3px;
 color: #757575;
 margin-left: 67px;
 z-index: 1;
}


