.card-product {
  height: 120px;
  width: 375px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  margin-bottom: -18px;
  position: relative;
}

.card-product .card-trip-image {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 4px 0px 0px 4px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  color: #436E96;
  margin: 0;
}




.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}



.card-product .card-product-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 15px;
}

.clock p {
opacity: .2;
margin: 0px;
padding-left: 4px;
}

.clock {
  align-items: center;
}

.far.fa-clock {
  opacity: .2;
}

.ellipsis-trip-icon {
  color: #757575;
  overflow: cover;
  height: 15px;
  width: 15px;
  margin: 5px;
  position: absolute;
  right: 0px;
}

.dropdown {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}
