.devise h2 {
  font-size: 18px;
  margin-bottom: 18px;
}

.devise h2 a {
  color: rgba(0,0,0,0.4);
}

.devise.forgot {
  color: rgba(0,0,0,0.4);
  display: flex;
  text-align:center;
}

.devise.forgot a {
  text-align: center;
}
