.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


.footer-links-left {
  background: white;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  color: rgba(0,0,0,0.3);
}

.footer-links-right {
  background: white;
  // justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  color: rgba(0,0,0,0.3);
}


.footer-items a {
  color: #436E96;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

::marker {
color: white;
}
