.chat-icon {
  color: #04A457;
  margin-top: 7px;

}

.chat-icon::hover {
  color: #436E96;
  margin-top: 7px;
  text-decoration: none;

}


.ellipsis-trip-icon-show {
  color: #757575;
 margin-top: 13px;
 margin-left: 20px;
 z-index: 1;
}



