// .landing-banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

.landing-banner {
  background-size: cover;
  height: 700px;
  width: 100%;
  opacity: 0.9;
  background-blend-mode: saturation;
}


.landing-page-text h1 {
  margin: 0;
  padding-top: 610px;
  color: #436E96;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.landing-page-text p {
  font-size: 20px;
  color: #436E96;
  padding-top: 10px;
}


