.trip-show-top {
  width: 346px;
  // margin: auto;
}


.trip-show-top h3 {
  font-size: 24px;
  color: #436E96;
}

.trip-show-top h4 {
  font-size: 16px;
  color: #436E96;
}


.btn-trip-show-top {
  padding-top: 10px;
  margin-left: 90px;
}


.buttons-show-page {
  position: relative;
  // left: 40px;
}
