.tabs-underlined {
  display: flex;
  align-items: center;
  font-size: 12.5px;
}

.tabs-underlined .tab-underlined {
  color: #436E96;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.active {
  opacity: 1;
  border-bottom: 3px solid #436E96;
}

.tab-bar {
  widows: 100%;
}
