.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: #436E96;
  margin: 8px 16px;
  cursor: pointer;
  text-decoration: none;
}

.active {
  opacity: 1;
  border-bottom: 3px solid #436E96;
}

