.unvoted {
  width: 15px;
  height: 15px;
  margin-top: 3.5px;
  background-image: url(asset_path("emptyheart.png"));
  background-size: cover;
}

.voted {
  width: 15px;
  height: 15px;
  margin-top: 3.5px;
  background-image: url(asset_path("heart.png"));
  background-size: cover;
}
